body{
    font-family: 'Acme', sans-serif;
    font-size: 25px;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name-color{
    color: rgb(224, 60, 18);
}
section{
    display: flex;
    margin-bottom: 8%;
}
.div-msg{
    width:90%;
    padding-left: 8%;
}
.div-image img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    color: rgb(32, 31, 31);
    font-weight: 1000;
    font-size: 25px;
    background-image: linear-gradient( rgb(255, 38, 0), rgba(139, 181, 243, 0.507));
    border-radius: 7px;
    padding: 5px 8px;
}
.background{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.div-image img{
    width: 80%;
    padding-left: 55px;
}

.background2{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}